@media only screen and (max-width: 1000px) {
  .wrapper { width: 90%; }
  #social{
    position: absolute;
    width: auto;
    top: 80px;
    right: 4px;
  }
}

@media only screen and (max-width: 900px) {
  .wrapper { width: 90%; }

  body{
    font-size: 85%;
  }

   #logo h1 {
     height: 35px;
     width: 35px;
   }

   #logo h2 {
     font-size: 2.2em;
   }

   #social{
     top: 72px;
   }

   .col-3 p {
     -moz-column-count: 2;
     -webkit-column-count: 2;
     column-count: 2;
   }
}

@media only screen and (max-width: 750px) {
  .wrapper { width: 90%; }
  #social{
    position: absolute;
    width: auto;
    top: 80px;
    right: 4px;
  }
}
